<%- include("_header") -%>
<h1>Total des livres (<%= model.likes.length + model.nlikes.length %>)</h1>

<h2>Livres que j'aime (<%= model.likes.length %>)</h2>
<div class="table-responsive-sm">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Commentaires</th>
				<th class="d-print-none">
					<a class="btn btn-sm btn-success" href="/create">Ajouter</a>
				</th>
			</tr>
		</thead>
		<tbody>
			  <% model.likes.forEach(function(book) { %>
				<tr>
					<td><%= book.Titre %></td>
					<td><%= book.Auteur %></td>
					<td><%= book.Commentaires %></td>
					<td class="d-print-none">
						<a class="btn btn-sm btn-warning" href="/edit/<%= book.Livre_ID %>">Modifier</a>
						<a class="btn btn-sm btn-danger" href="/delete/<%= book.Livre_ID %>">Effacer</a>
					  <a class="btn btn-sm btn-info" href="/delete_preference/<%= book.Livre_ID %>/<%= login %>">Retirer de ma liste</a>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</div>

<h2>Livres que je n'aime pas (<%= model.nlikes.length %>)</h2>
<div class="table-responsive-sm">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Commentaires</th>
				<th class="d-print-none">
					<a class="btn btn-sm btn-success" href="/create">Ajouter</a>
				</th>
			</tr>
		</thead>
		<tbody>
			  <% model.nlikes.forEach(function(nlike) { %>
				<tr>
					<td><%= nlike.Titre %></td>
					<td><%= nlike.Auteur %></td>
					<td><%= nlike.Commentaires %></td>
					<td class="d-print-none">
						<a class="btn btn-sm btn-warning" href="/edit/<%= nlike.Livre_ID %>">Modifier</a>
						<a class="btn btn-sm btn-danger" href="/delete/<%= nlike.Livre_ID %>">Effacer</a>
					  <a class="btn btn-sm btn-info" href="/create_preference/<%= nlike.Livre_ID %>/<%= login %>">Ajouter à ma liste</a>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</div>

	<%- include("_footer") -%>
	<%- include("_script") -%>
